/*como importar fuentes desde google*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Yeseva+One&display=swap&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Serif+Text:ital@0;1&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* ---coloress--- */
    --body-color:    #9D6B53;
    --header: #A07754;
    /*--body-color: #C69DC4;*/
    --sidebar-color: #DDB892;
    --primary-color: #C19071;
    --primary-color-light: #B08968;
    --toggle-color: #E9C4CC;
    --text-color: black;
    --verde-color: #BDB2FF;
    --verdeclaro-color: #F9DEDC;
    --letra-negra: black;
    --letra-blanca: white;
    --footer: #7f5539;
    --h2-color: #f1dac5;
    /* ---transiciones--- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    /* ---fuentes--- */
    --fuente1: 'Abhaya Libre', serif;
    --fuente2: 'Bellota', cursive;
    --fuente3: 'DM Serif Text', serif;
    --fuente4: 'Inria Serif', serif;
    --fuente5: 'Roboto', sans-serif;
    --fuente6: 'Poppins', sans-serif;
    --fuente7: 'Yeseva One', cursive;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #faedcd;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: .95;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

::-webkit-scrollbar {
    display: none;
}

/* HEADERRRRRRR */

header {
    height: 80px;
    width: 100%;
    font-weight: 300!important;
}

.header .title{
    font-weight: 400!important;
}
.header {
    position: fixed;
    background-color: var(--primary-color-light);
    width: 100%;
    height: 80px;
    margin-top: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif!important;
    font-weight: 300!important;
    font-style: italic!important;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.container{
    z-index: 0!important;
}

.fl {
    float: left;
}

.logo {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    text-align: center;
    margin-top: -10px;
}

.header .title {
    font-size: 25pt;
    color: white;
    margin-top: -11px;
}


/*fieldset{ width: 50%;
        margin-left: 25%;
        border-color: #6d2c6b;
        text-align: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.subir_np{
    font-size: 20pt;
    text-align: center;
}

form{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}


input, a{
    font-size: 20pt;
    background-color: var(--primary-color);
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    gap: 10px;
}
input, a:hover{
    background-color: var(--primary-color-light);
}*/


.sp{
    font-size: 14pt;
    margin-top: 20px;
    text-align: center;
}

.sl{
    font-size: 14pt;
    text-align: center;
}

form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px #755b4f(293, 64%, 80%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #9D6B53 50%, #DDB892 50%);
}


form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

.head_form {
    margin: 2% auto 10% auto;
    text-align: center;
}

.head_form h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: var(--h2-color);
}

.head_form p {letter-spacing: 0.05em;}


.input-item {
    background: rgb(200, 194, 209);
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

#libro{
    height: 30px;
    width: 150px;
    /*margin-left: 53px;*/
}
#prestatario{
    height: 30px;
    width: 150px;
    margin-left: 10px;
}

p {
    color: white;
}

input {
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    letter-spacing: 0.05em;

    margin-left: 60px;
}

.cancelar a{
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #252537;
      
    width: 280px;
    height: 50px;
      
    padding: 15px;
    background: #fff;
    border-radius: 5px;
        
    outline: none;
    border: none;
      
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
        
    letter-spacing: 0.05em;
    
    text-decoration: none;
    
}


.cont{
    margin-top: 80px;
    margin-bottom: 10px;
}

/* buttons hover */
input:hover {
    background-color: #d3c6d0;
    box-shadow: none;
}
a:hover {
    background-color: #d3c6d0;
    box-shadow: none;
}

/*botones eliminar y continuar*/

.cont_eli{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cont_eli .continuar {
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
  
    width: 200px;
    height: 50px;
  
    padding: 0 20px;
    background: var(--body-color);
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    transition: all 0.2s linear;
    
    letter-spacing: 0.05em;
    
    margin-top: 50px;
    margin-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_eli a{
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
    text-align: center;

      
    width: 200px;
    height: 50px;
      
    padding: 15px;
    background: var(--body-color);
    border-radius: 5px;
        
    outline: none;
    border: none;
      
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
        
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-left: 30px;
}

/*filas*/

.fila{

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60px;
    align-items: center;
    color: white;

    /*display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;*/
}

.fila2{

    width: 100%;

    /*display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;*/
}

.clase{
    text-align: left!important;
    flex: 1 0 40%;
    font-size: 14pt;
    text-align: center;
    color: white;
    gap: 2px!important;
    width: 100%;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    flex: 1 0 60%;
    height: 40px;
}
.select_predeterminado {
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #252537;
    text-align: center;
    width: auto!important;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
}
.select_predeterminado2 {
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #252537;
    text-align: center;
    width: 180px!important;
    height: 40px;
    /* margin-left: 40px; */
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
    border-radius: 5px;
}

#label_libro{
    margin-right: 17px;
    margin-top: 0px;
}

#label_prestatario{
    margin-right: 0px;
    margin-top: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 8px!important;
    left: 180px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px!important;
    align-items: center;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 28px!important;
}
.select2-search--dropdown .select2-search__field{
	padding:4px;
	width:100%;
	box-sizing:border-box;
	margin-left: 0;
    margin-top: 0;	

	font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
}
option{
    width: 205px;
}

.btn_volver{
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 180px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: var(--body-color); /* Color de fondo */
	padding: 18px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
    text-align: center;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    border: none;
}
.btn_volver:hover{
    background-color: var(--sidebar-color); /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
    .btn-volver {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }
} 
