@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Yeseva+One&display=swap&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Serif+Text:ital@0;1&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* ---coloress--- */
    --body-color:    #9D6B53;
    --header: #A07754;
    /*--body-color: #C69DC4;*/
    --sidebar-color: #DDB892;
    --primary-color: #C19071;
    --primary-color-light: #B08968;
    --toggle-color: #E9C4CC;
    --text-color: black;
    --verde-color: #BDB2FF;
    --verdeclaro-color: #F9DEDC;
    --letra-negra: black;
    --letra-blanca: white;
    --footer: #7f5539;
    --body-verdadero: #faedcd;

    /* ---transiciones--- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    /* ---fuentes--- */
    --fuente1: 'Abhaya Libre', serif;
    --fuente2: 'Bellota', cursive;
    --fuente3: 'DM Serif Text', serif;
    --fuente4: 'Inria Serif', serif;
    --fuente5: 'Roboto', sans-serif;
    --fuente6: 'Poppins', sans-serif;
    --fuente7: 'Yeseva One', cursive;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: var(--body-verdadero);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

::-webkit-scrollbar {
    display: none;
}


/*MODAL*/

#modal {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    position: fixed;
    z-index: 200;
    display: flex;
    /*no se puede sacar y/o cambiar mica.m*/
}

.modal-container {
    margin: auto;
    /*no se puede sacar y/o cambiar mica.m*/
    width: 30%;
    height: 40%;
    background-color: white;
    padding-top: 80px;
}

#modal input {
    background-color: white;
    width: 40%;
    height: 30px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 30%;
    text-align: center;
}
#modal button{
    margin-left: 35%;
    margin-top: 10px;
    background-color: var(--primary-color);
    height: 40px;
    width: 130px;
    border-color: var(--primary-color-light);
}

/* HEADERRRRRRR */

header {
    height: 80px;
    width: 100%;
}


.header {
    position: fixed;
    background-color: var(--primary-color-light);
    width: 100%;
    height: 80px;
    margin-top: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.109);
}

.container{
    z-index: 0!important;
}

.fl {
    float: left;
}

.logo {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    text-align: center;
}

.header .title {
    font-size: 25pt;
    color: white;
    margin-top: 10px;
}

/* FORM */
.caja_formulario{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -60px;
}
.formu{
    width: 200px;
    height: 300px;
    margin-bottom: 70px;
}

#input{
    color: black;
}
#input_enviar{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color-light);
    border: none;
    color: white;
}
#input_enviar:hover{
	background-color: #A07754;
	transition: all 0.5s ease-out;
}

/* NOVEDADES */

.carousel ul{
    display: flex;
    justify-content: center;
}

.carousel .container{
    margin-top: 70px;
    height: 100%;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-top: 70px;
}

.carousel-item{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-item .white-text p {
    margin-top: 100px;
    font-weight: lighter;
    text-align: center;

}

/* MENÚ */

.menuabajito {
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow-x: scroll;
    height: 80px;
    z-index: 10;
    background-color: var(--primary-color-light);
}

::-webkit-scrollbar {
    height: 0;
}

.menuabajito li {
    margin: -5px;
    line-height: 0px;
    /*line-height: 16px;*/
}

.menuabajito ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.subrayado {
    color: rgb(220, 236, 220);
    margin-left: 9px;
}



/*#btnLink {
    text-decoration: none;
    color: black;
}

.btn {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-color);
    border-radius: 8px;
    font-size: 15pt;
    font-weight: bold;
}


.btn::after {
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url(../Img/login.png);
    background-repeat: no-repeat;
    transition: width 200ms, margin-left 200ms;
}

.btn:hover {
    background-color: #3b56a4;
}

.btn:is(:hover,
:focus)::after {
    width: 24px;
    margin-left: 8px;
}*/


/*CONTENEDORES*/

#publi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#fotolibro{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*imagen novedad*/
#nov_img{
    /*width: 120px;
    height: 160px!important;*/
    width: 200px;
    height: 250px!important;
    opacity: 0.7;
    background-color: red;
}

.img_of{
    object-fit: cover!important;
}


#palabras{
    width: 60%;
    flex-direction: column;
}

#titulo{
    width: 55%;
    text-align: center;
    position: absolute;
    top: 50px;
    font-size: 34pt!important;
}
.yeseva{
    font-family: 'Yeseva One', cursive;
    color: white;
}

#descripcion{
    width: 55%;
    text-align: center;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-align: center;
    font-size: 12pt!important;
    font-family: var(--fuente6);
    font-weight: 200;
    position: absolute;
    bottom: 90px;
}

#modificar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--body-verdadero);
    opacity: 0.6;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    width: 100px;
    /*margin-top: 370px;
    margin-right: 0px;*/
}

.modificar{
    text-decoration: none;
    font-size: 15pt;
    background: transparent!important;
    height: 20px;
    border: none;
    color: black;
}
#modificar p{
    color: black;
    text-decoration: none;
}
#modificar p:hover {
    color: white;
}
.modificar a:hover {
    color: white;
}

.modificar a{
    color: #000000;
    text-decoration: none;
}


::-webkit-scrollbar {
    display: none;
}

/*preguntas frecuentes*/

.acordeon{
    width: 100%;
    height: 100vh;
    font-family: var(--fuente6)!important;
}

.acordeon .collapsible-header{
    margin-top: 0px;
    background-color: var(--primary-color);
    font-family: var(--fuente6)!important;
}
.acordeon .collapsible-body{
    width: 100vw;
    background-color: var(--primary-color-light); 
    font-family: var(--fuente6)!important;
}

.acordeon{
    font-family: var(--fuente6)!important;
    font-size: 10pt!important;
    color: white;
}

#pf_eliminar{
    border: solid 1px white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 100px;
    margin-top: -50px;
    background-color: var(--primary-color-light);
    color: white;
}
#pf_eliminar:hover{
	background-color: #A07754;
	transition: all 0.5s ease-out;
}

#pf_agregar{
    border: solid 1px white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 100px;
    margin-top: 0px;
    background-color: var(--primary-color-light);
}
#pf_agregar:hover{
	background-color: #A07754;
	transition: all 0.5s ease-out;
}


.mgb100 .collapsible-header{
    background-color: var(--primary-color);
    font-family: var(--fuente6)!important;
    color: white;
}
.mgb100 .collapsible-body{
    width: 100%;
    background-color: var(--primary-color-light); 
    font-family: var(--fuente6)!important;
    color: white;
}

.yeseva{
    font-family: 'Yeseva One', cursive;
    font-size: 40pt!important;
    color: white;
}

.mgb100{
    margin-bottom: 100px;
    margin-top: 100px;
}

.btn_volver{
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 180px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: var(--body-color); /* Color de fondo */
	padding: 18px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
    text-align: center;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    border: none;
}
.btn_volver:hover{
    background-color: var(--sidebar-color); /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
    .btn-volver {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }
} 



@media (orientation: portrait) {
    .yeseva{
            font-family: 'Yeseva One', cursive;
            font-size: 30pt!important;
            color: white;
    }
}

@media (orientation: portrait) {
    .yeseva{
            font-family: 'Yeseva One', cursive;
            font-size: 30pt!important;
            color: white;
    }
}







@media (orientation: portrait) {
    .menuabajito li {
        margin-top: 10px;
        line-height: 0px;
        font-size: 12px;
    }
    .carousel-item .black-text {
        margin-top: 70px;
        font-weight: bold;
    }
    .carousel-item .black-text p {
        margin-top: 30px;
        font-weight: lighter;
    }
}


